* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --main_color: rgb(255, 72, 0);
    --second_color: rgb(223, 71, 11);
}

.btn_main {
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.m20 {
    margin: 20px;
}

.main_blue {
    background: rgb(55, 55, 180) !important;
}

.bg_second {
    background: rgb(255, 91, 79);
}

footer {
    padding: 10px 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: rgb(54, 54, 54);
    height: 30vh;
}


footer ul {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin: 0;
}

footer li {
    margin: 10px;
}

footer li a {
    color: white;
}
@media (max-width: 768px){
    footer {
        height: 30vh;
        padding: 0;
        
    }
    footer ul li{
        font-size: 14px;
    }
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.flex_basis_100 {
    flex-basis: 100%;
}

header {
    display: flex !important;
    align-items: center;
    background: #008080;
    color: white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 70px;
    transition: 0.3s ease;
}

.hide {
    display: none;
}

header .logo_container {
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

header .mynavbar {
    display: flex;
    flex-basis: 80%;
    justify-content: flex-end;
}

header .mynavbar a {
    color: white;
}


.toggle-bar {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


@media(min-width: 900px){
		.ham-btn, .times-btn{
		display: none!important;
	}

}


@media(max-width: 900px){
    header {
        height: inherit;
    }

	.times-btn{
		display: none;
	}

    header .mynavbar {
        display: flex;
        flex-basis: 80%;
        justify-content: flex-end;
        flex-direction: column;
    }

	.toggle-bar{
		height: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
	}
    .show-nav{
		height: auto;
	}
    
}
.abs {
	position: absolute;
	right: 10px;
	top: 10px;
    transition: all 5s ease-in-out;
}



header .authentication {
    display: flex !important;
    margin: 10px;
    flex-basis: 10%;
}


.authentication_button {
    background: var(--main_color);
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    color: white;
    padding: 5px 20px;
    margin-right: 5px;
    margin-top: 20px;
}
@media (max-width: 900px){
    header .authentication {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .authentication .authentication_button{
        display: block;
        text-align: center;
        margin: 8px 0;                                          
    }
}

.authentication_button:hover {
    filter: brightness(130%);
}

header .name {
    font-weight: 300;
}

header .mynavbar a {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-weight: 400;
    color: white;
    margin: 0 10px;
}
header .mynavbar a:hover{
    border-bottom: solid 1px var(--main_color);
}
header ul a:hover {
    transition: 0.3s ease;
    color: var(--main_color);
}

.activepage {
    color: var(--main_color);
    border-bottom: solid 1px var(--main_color);
}



header .logo_container img {
    height: 60px;
    margin-right: 10px;
}

.category_container {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 20px;
}



.category_container .categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 20%;
}

.category_container .categories a {
    background: #f8f8f8;
    padding: 10px;
}

.category_container .categories a:hover {
    background: rgb(98, 98, 223);
    padding: 10px;
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}

.activeCategory {
    background: rgb(55, 55, 180) !important;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
    border: solid 1px #ccc;
}


table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}


.tag {
    background: #0080807c;
    color: black;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 2px;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}



.blog_sidebar_layout {
    display: flex;
    padding: 50px;
    justify-content: space-between;

}




.blog_sidebar_layout .blog {
    width: 80%;
    padding: 0 20px;
}

.blog_sidebar_layout .sidebar {
    width: 20%;
}

.blog_sidebar_layout .sidebar .item {
    display: flex;
    margin: 10px 0;
}

.blog_sidebar_layout .sidebar .item .image_container {
    width: 80%;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
}

.blog_sidebar_layout .details {
    margin-left: 10px;
    flex-basis: 80%;
}

.blog_sidebar_layout .sidebar .item a {
    font-weight: 800;
}

.blog_sidebar_layout .sidebar .item p {
    opacity: 0.7;
    font-size: 13px;
    margin-top: 10px;
}

.blog_sidebar_layout .sidebar .item .image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.thumbnail_container {
    width: 100%;
    height: 400px;
}

.thumbnail_container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.comments {
    display: flex;
    margin: 10px 0;
}

.comments .image_container {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.comments .image_container img {
    width: 50%;
}

.comments .info {
    padding: 0 30px;
    flex-basis: 80%;
}

.comments .info .name {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.comments .info .comment {
    font-size: 15px;
    font-weight: 200;
}



.single_blogs {
    padding: 20px 50px;
}

.single_blogs>div {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    padding: 30px 0;
    margin: 5px;
}

.blogs {
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
}

.blogs>div {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    padding: 30px 0;
    margin: 5px;

    flex-basis: 24.2%;
}

.blogs .image_container {
    display: flex;
    justify-content: center;
    height: 200px;
}

.single_blogs .image_container {
    height: 400px;
}

.single_blogs table {
    border: none;
}

.single_blogs tr {
    border: none;
}

.single_blogs td {
    background: white;
    border: none;
}

.blogs .image_container img, .single_blogs .image_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.blogs .blog_name, .single_blogs {
    text-transform: uppercase;
    font-size: 1.6vw;
    font-weight: 500;

}

.blogs .date, .single_blogs .date {
    font-size: 12px;
    font-weight: 300;
}

.blogs .date i, .single_blogs .date i {
    opacity: 0.5;
}


.blogs .read_more, .single_blogs .read_more {
    border: solid 2px var(--main_color);
    color: var(--main_color);
    font-weight: 800;
    border-radius: 10px;
    margin-left: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 150px;
    align-items: center;
}

.blogs .read_more:hover, .single_blogs .read_more:hover {
    background: var(--main_color);
    color: white;
    transition: 0.3s ease;
}

.p20 {
    padding: 5px 20px;

}



.pagination {
    display: inline-block;
    padding: 0 100px;
}

.pagination a {
    color: black;
    float: left;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    background: var(--main_color);
}
@media (max-width: 768px){
    .pagination a{
        padding: 6px;
    }
}
.pagination a:hover {
    transition: 0.5s ease;
    background: var(--second_color);
}

.pagination .active {
    background: var(--second_color);
}

#workspace_btn {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#workspace_btn i {
    margin-right: 5px;
}


.hero {
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.hero>.info {
    width: 400px;
    background: white;
    padding: 40px 20px;
    position: relative;
}

.hero>.socials {
    margin: 20px 30px;
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width: 600px){
    .hero>.socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 6px auto;
    }
}

.hero li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    background: white;
    padding: 20px;
    margin: 5px 0;
    border-radius: 50%;
}

.hero li a:hover {
    background: var(--main_color);
    color: white;
}

.hero>div::before {
    content: "";
    width: 100%;
    height: 10px;
    background: red;
    position: absolute;
    top: 20px;
    left: -45px;
}

#header-navbar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
}

#header-navbar nav {
    margin-bottom: 50px;
}

#header-navbar .forms {
    padding: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.sticky+.content {
    padding-top: 102px;
}

.list-unstyled img {
    max-width: 100px;
}

.list-unstyled .media-body>div {
    white-space: none !important;
}


.sources_list li {
    list-style-type: circle;
    color: #008080;
}

.sources_list {
    padding-left: 20px;
}


.profile_nav {
    position: relative;
}

.profile_menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100px;
    padding: 0;
    background: #016666;
    z-index: 100;
    margin: 10px 0;
}

.profile_menu a {
    color: white;
    padding: 5px;
    display: flex;
}

.profile_menu input {
    background: none;
    outline: none;
    border: none;
    color: white;
    padding: 5px;
    font-weight: 800;
}

.profile_menu a:hover {
    color: white;
}

.profile_menu li {
    margin: 1px;
    background: #A9D18E;
    color: white;
    font-weight: 800;
    width: 100%;
    text-align: left;
}

.profile_menu li:hover {
    cursor: pointer;
    transition: 0.3s ease;
    background: #6f9c52;
}

.profile_image {
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.profile_nav img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}


/* profile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile {
    padding: 50px;
    display: flex;
    justify-content: space-between;

}

.profile .info {
    width: 30%;
}

.profile .forms {
    width: 70%;
}

.profile .info p {
    margin: 5px 0;
    font-weight: 500;
}



.profile>div {
    margin: 15px;
}

.profile .image_container {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.profile .image_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile #profile_update_info {
    display: flex;
    flex-direction: column;
}

.profile #profile_update_info input {
    margin: 5px 0;
}

.profile #profile_deativate_form {
    display: flex;
    justify-content: space-between;
}

.profile #profile_deativate_form>* {
    margin: 5px;
}

#upload_button {
    position: absolute;
    transition: 0.3s ease;
    bottom: -100px;
    width: 100%;
    background-color: #016666;
    color: white;
    outline: none;
    border: none;
    left: 0;
    padding: 10px;
}

.showUploadButton {
    bottom: 0 !important;
}
.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgb(75, 72, 72);
}
.cookies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    justify-content: center;
    padding: 20px 0;
}
@media(max-width: 500px){
    .cookies{
        padding: 10px 0;
    }
}
.sticky-footer p{
    margin-right: 10px;
    font-size: 16px!important;
    font-weight: 400!important;
    line-height: 18px;
    margin-bottom: 0;
}
@media (max-width: 768px){
    .sticky-footer p {
        text-align: center;
        font-size: 13px!important;
        padding: 0;
    }
}
.sticky-footer .cookies p a {
    color: white!important;
}
.sticky-footer .cookies p a:hover{
    color: #0d6efd!important;
}
.sticky-footer button {
    padding: 4px 12px;
    background-color: green;
    border: none;
    display: block;
    font-size: 16px;
    font-weight: 400!important;
    color: white;
    border-radius: 6px;
    text-transform: capitalize;
}
@media(max-width: 768px){
    .sticky-footer button{
        font-size: 13px;
    }
}
.sticky-footer button:hover{
    opacity: .6;
}

/* about  */
.p-5 {
    width: 90%;
    margin: 0 auto;
}

.mybranch ul {
    width: 30%;
    visibility: hidden;
    position: fixed;
    background-color: #d5e8d4;
    z-index: 1;
    right: 10%;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
    transition: all .5s ease-in-out;
    border: solid 1px #82b366!important;
    margin: 0;

}

.mybranch:hover ul {
    visibility: visible;
}
.mybranch ul li {
    display: block;
    display: inline-block;
    margin: 10px auto;
    padding: 0;
}
.mybranch ul li a {
    display: block;
    color: black;
    text-decoration: none;
}
.mybranch ul li a:hover{
    /* border: none; */
    border-bottom: solid 1px solid(--main_color);
    width: 60%;
}
.text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.shape-4 {
    height: 300px;
    width: 300px;
    margin:0 0 5rem 0;
}
.shape-4 img {
    width: 300px;
    height: 300px;
}